.custom-label {
    font-size: 20px;
    -unity-font-style: bold;
    color: rgb(68, 138, 255);
}

.source-texture__label {
    margin-left: 3px;
}

.source-texture__enum-field {
    width: 25%;
}

.source-texture__object-field {
    flex-shrink: 0;
    width: 50%;
}

#cs-preview {
    aspect-ratio: 1;
}

.cs-channel-preview-button {
    height: 15px;
}

.cs-channel-preview-button--selected {
    background-color: rgb(44, 93, 135);
}
